In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [3]:
df_train= pd.read_csv("train_preprocessed.csv",index_col = 0)

In [4]:
df_test = pd.read_csv("test_preprocessed.csv",index_col=0)

In [5]:
df_train.head()

             Survived  Sex  Embarked  ischild  hasCabin  Hasfam  Pclass_norm
PassengerId
1                   0    0         1        0         0       1          1.0
2                   1    1         1        0         1       1          0.0
3                   1    1         1        0         0       0          1.0
4                   1    1         1        0         1       1          0.0
5                   0    0         1        0         0       0          1.0

In [6]:
df_test.head()

             Sex  Embarked  ischild  hasCabin  Hasfam  Pclass_norm
PassengerId
892            0         1        0         0       0          1.0
893            1         1        0         0       1          1.0
894            0         1        0         0       0          0.5
895            0         1        0         0       0          1.0
896            1         1        0         0       1          1.0

In [7]:
X_train = df_train.drop(["Survived"],axis=1)
y_train = df_train["Survived"]