In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [6]:
df_train = pd.read_csv("df_train_dicho.csv",index_col=0)

In [7]:
df_train.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,5,2,0,0,0,0,0,0,0,...,0,4,4,5,0,2,2008,0,0,208500
2,20,5,2,0,0,0,0,0,0,3,...,0,4,4,5,0,5,2007,0,0,181500
3,60,5,2,1,0,0,1,0,0,0,...,0,4,4,5,0,9,2008,0,0,223500
4,70,5,2,0,0,0,1,0,0,1,...,0,4,4,5,0,2,2006,0,1,140000
5,60,5,2,1,0,0,1,0,0,3,...,0,4,4,5,0,12,2008,0,0,250000