In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

In [6]:
df= pd.read_csv("train_preprocessed.csv",index_col = 0)
#df_test = pd.read_csv("test_preprocessed.csv",index_col = 0)

In [7]:
df.head()

             Survived  Pclass  Sex  Embarked  ischild  hasCabin  Hasfam
PassengerId
1                   0       3    0         1        0         0       1
2                   1       1    1         1        0         1       1
3                   1       3    1         1        0         0       0
4                   1       1    1         1        0         1       1
5                   0       3    0         1        0         0       0

In [10]:
X = df.drop(["Survived"],axis=1)

In [11]:
y =df["Survived"]

In [12]:
X_train,X_val,y_train,y_val = train_test_split(X,y,test_size=0.1)